/*
.center-login {
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    transform: translate(30%, 10%);
}

@media screen and (max-width: 1024px) {
    .center-login {
        top: 0;
        left: 0;
        right: 0;
        position: relative;
        transform: translate(0%, 0%);
    }
}
*/
